.hero_container{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
.hero_container::after,
.hero_container::before{
    content: "";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background-color: #149ECA;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
   
}
.hero_container::after{
    top: -3rem;
    left: -5rem;
}
.hero_container::before{
    bottom: 2rem;
    right: 0rem;
}
.hero-content{
    flex: 1;
    
}
.hero-content h2{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
   
}
.hero-content p{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
.btn{
    margin-top: 20px;
    background: #149ECA;
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
}
.btn2{
    margin-top: 30px;
    background: transparent;
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
    border:1px solid #149ECA;
}
.btn2:hover{
    background: #149ECA;
}
.btn:hover{
    background-color: transparent;
    border:1px solid #149ECA;

}
.hero-img{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}
.hero-img> div{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.hero-img > div >img{
    width: 24rem;
    transition: all 0.3s ease;

}
.tech-img{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;

}
.tech-img img{
    transition: all 0.3s ease;
}
.hero-img >div >img:hover,
.tech-img img:hover{
    transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
    .hero-content h2{
        font-size: 2.9rem;
        line-height: 4rem; 
    }
    .hero-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }
    .tech-img{
        width: 4rem;
        height: 4rem;
    }
    .tech-img img{
        width: 3rem;
       
    }
    .hero-img > div >img{
        width: 20rem;
    }
    
    
}
@media (max-width: 768px) {
    .hero_container{
        flex-direction: column;
        gap: 25px;
    }
    .hero_container h2 {
        margin-top: 3rem;
        text-align: center;
        width: auto;
    }
    .hero-content p {
        text-align: center;
        width: auto;
        padding: 4px 2px;
    }
    .btn{
        margin-top: 20px;
        background: #149ECA;
        padding: 10px 60px;
        border-radius: 10px;
        font-size: 2rem;
        font-weight: 600;
    }
    .hero_container::after,
    .hero_container::before{
        content: "";
        width: 18rem;
        height: 18rem;
    }
    .hero_container::before{
        bottom: -2rem;
        right: 0rem;
    }
    .hero_container::after{
        top: 0rem;
        left: 3rem;
    }
    .btn2{
        width: 100%;
    }
    .btn{
        width: 100%;
        margin-left: 1px;
    }
    

}


