.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.pricing-title {
    font-size: 20px;
    font-weight: bold;
    color: White;
    margin-bottom: 20px;
}

.box {
    width: 400px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.box-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.box-details {
    margin-bottom: 20px;
}

.detail {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.detail-label {
    font-weight: bold;
    color: #333;
}

.detail-value {
    color: #777;
}

.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ccff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.purchase-button:hover {
    background-color: #d400d4;
}
@media (max-width:768px) {
    .box {
        width: 100%;
        margin: 0, 10px;
    }
    
}
